/* <= 1237px */
.toggle{
    display: none;
}
.contact-info h3{ font-size: 20px; }
.contact-info h1{ font-size: 45px; }
.contact-info p{ font-size: 16px; }
.hero-query-label h2{ font-size: 20px; font-family: sans-serif; color: white; }
.hero-query h6{ font-size: 20px; }
.hero-info p{ font-size: 15px; }
.form-fields{ font-size: 12px; }
.privacy-note button{ padding: 6px; font-size: 14px; }
.dui-card-head h1{ font-size: 20px; }
.dui-card-head h2{ font-size: 13px; }
.dui-card-copy p{ font-size: 12px; }
.dui-card-cta button{ font-size: 12px; }
.blog-card-top h1{ font-size: 20px; }
.blog-card-top p{ font-size: 12px; }
.blog-card-top button{ font-size: 12px; }
.cases-card h1{ font-size: 20px; }
.cases-card p{ font-size: 12px; }
.cases-card button{ font-size: 12px; }
.creds-copy h1{ font-size: 20px; }
.creds-copy p{ font-size: 12px; }
.creds-copy button{ font-size: 12px; }
.practice-left h1{ font-size: 20px; }
.practice-button-head h1{ font-size: 18px; }
.practice-button-foot p{ font-size: 12px; margin-left: 100px; }
.learn-section h1{ font-size: 20px; }
.learn-section h2{ font-size: 15px; }
.content-center h1{ font-size: 30px; }
.content-center p{ font-size: 12px; }
.aside-card h1{ font-size: 20px; }
.aside-card p{ font-size: 12px; }
.aside-card button{ font-size: 12px; }
.social-follow h1{ font-size: 20px; }

