/* <= 992px */
.contact-info h3{ font-size: 15px; }
.contact-info h1{ font-size: 35px; }
.contact-info p{ font-size: 13px; }
.hero-query-label h2{ font-size: 14px; font-family: sans-serif; color: white; }
.hero-query h6{ font-size: 15px; }
.hero-query span{ font-size: 20px; }
.hero-info p{ font-size: 12px; }
.form-fields{ font-size: 9px; }
.privacy-note p{ font-size: 10px; }
.privacy-note button{ font-size: 12px; }
.dui-card-head h1{ font-size: 15px; }
.dui-card-head h2{ font-size: 13px; }
.dui-card-copy p{ font-size: 11px; letter-spacing: 0; }
.dui-card-cta hr{ margin-left: 100px; }
.dui-card-cta button{ margin-left: 150px; font-size: 9px; }
.dui-card-cta button img{ height: 7px; }
.blog-card-top h1{ font-size: 15px; }
.blog-card-top p{ font-size: 10px; }
.cases-card h1{ font-size: 15px; }
.cases-card p{ font-size: 10px; letter-spacing: 0; }
.blog-card-top button{ font-size: 8px; width: 55%; margin-left: 40px; }
.blog-card-top button img{ height: 7px; }
.cases-card button{ font-size: 9px; width: 55%; margin-left: 50px; }
.cases-card button img{ height: 7px; }
.creds-copy h1{ font-size: 15px; }
.creds-copy p{ font-size: 9px; }
.creds-copy button{ margin-left: 150px; font-size: 9px; width: 35%; }
.practice-left h1{ font-size: 15px; }
.practice-button-head h1{ font-size: 13px; }
.practice-button-foot p{ font-size: 9px; margin-top: 25px; margin-left: 80px; }
.practice-button-shadow{ width: 100%; margin-top: -5.5px; }
.practice-button-shadow img{ width: 90%; }
.learn-section h1{ font-size: 15px; }
.learn-section h2{ font-size: 13px; }
.content-center h1{ font-size: 20px; }
.content-center p{ font-size: 9px; }
.aside-card h1{ font-size: 15px; }
.aside-card p{ font-size: 9px; }
.aside-card button{ font-size: 9px; margin-left: 70px; }
.social-follow h1{ font-size: 15px; }
.social-shadow{ margin-top: -7px; }
.social-icons{ gap: 8px; }

