/* <= 1132px */
.dui-card-cta button{ font-size: 10px; }
.privacy-note p{ font-size: 12px; }
.blog-card-top button{ font-size: 10px; }
.creds-copy button{ font-size: 10px; }
.cases-card button{ font-size: 10px; }
.aside-card button{ font-size: 10px; }

