/* <= 1076px */
.contact-info h3{ font-size: 18px; }
.contact-info h1{ font-size: 40px; }
.contact-info p{ font-size: 15px; }
.hero-query-label h2{ font-size: 15px; font-family: sans-serif; color: white; }
.hero-query h6{ font-size: 15px; }
.hero-info p{ font-size: 14px; }
.form-fields{ font-size: 11px; }
.dui-card-head h1{ font-size: 18px; }
.dui-card-head h2{ font-size: 14px; }
.dui-card-copy p{ font-size: 11px; }
.dui-card-cta hr{ margin-left: 100px; }
.dui-card-cta button{ margin-left: 150px; }
.blog-card-top h1{ font-size: 18px; }
.blog-card-top p{ font-size: 11px; }
.cases-card h1{ font-size: 18px; }
.cases-card p{ font-size: 11px; }
.blog-card-top button{ font-size: 10px; width: 50%; margin-left: 60px; }
.creds-copy h1{ font-size: 18px; }
.creds-copy p{ font-size: 11px; }
.creds-copy button{ margin-left: 150px; }
.practice-left h1{ font-size: 18px; }
.practice-button-head h1{ font-size: 15px; }
.practice-button-foot p{ font-size: 11px; margin-left: 80px; }
.practice-button-shadow{ width: 100%; margin-top: -4.5px; }
.practice-button-shadow img{ width: 90%; }
.learn-section h1{ font-size: 18px; }
.learn-section h2{ font-size: 15px; }
.content-center h1{ font-size: 25px; }
.content-center p{ font-size: 11px; }
.aside-card h1{ font-size: 18px; }
.aside-card p{ font-size: 11px; }
.aside-card button{ font-size: 10px; }
.social-follow h1{ font-size: 18px; }
.social-shadow{ margin-top: -6px; }

